.am-dropdown-positioner {
    z-index: var(--am-z-index-popup);
}

.am-dropdown-popup {
    min-width: 11rem;
    padding: calc(var(--am-space) * 1);
    outline: none;
    background-color: var(--am-color-bg-base);
    border: 1px solid var(--am-color-border);
    border-radius: var(--am-radius-lg);
    box-shadow: var(--am-shadow-popup);
}

.am-dropdown-item {
    all: unset;
    display: flex;
    gap: calc(var(--am-space) * 2);
    align-items: center;
    width: 100%;
    padding: calc(var(--am-space) * 1.75) calc(var(--am-space) * 3);
    font-size: 0.875rem;
    color: var(--am-color-text-default);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border-radius: var(--am-radius-md);

    &[data-highlighted] {
        outline: none;
        background-color: var(--am-color-bg-subtle);
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.4;
    }
}

.am-dropdown-item-danger {
    color: var(--am-color-danger);

    &[data-highlighted] {
        color: var(--am-color-danger);
        background-color: var(--am-color-danger-bg);
    }
}

.am-dropdown-item-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.am-dropdown-separator {
    height: 1px;
    margin: calc(var(--am-space) * 1) 0;
    background-color: var(--am-color-border);
}
