.am-dropdown-positioner {
    z-index: var(--am-popup-z-index);
}

.am-dropdown-popup {
    min-width: var(--am-popup-min-width);
    padding: var(--am-popup-padding);
    background-color: var(--am-popup-background-color);
    border: 1px solid var(--am-popup-border-color);
    border-radius: var(--am-popup-border-radius);
    box-shadow: var(--am-popup-shadow);
}

.am-dropdown-item {
    all: unset;
    display: flex;
    gap: calc(var(--am-space) * 2);
    align-items: center;
    width: 100%;
    padding: calc(var(--am-space) * 2) calc(var(--am-space) * 3);
    font-size: var(--am-input-font-size);
    color: var(--am-color-text-default);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border-radius: calc(var(--am-popup-border-radius) - var(--am-popup-padding));

    &[data-highlighted] {
        outline: none;
        background-color: var(--am-menu-item-highlighted-background-color);
    }

    &[data-disabled] {
        pointer-events: none;
        opacity: 0.4;
    }
}

.am-dropdown-item-danger {
    color: var(--am-color-danger);

    &[data-highlighted] {
        color: var(--am-color-danger);
        background-color: var(--am-color-danger-bg);
    }
}

.am-dropdown-item-icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.am-dropdown-separator {
    height: 1px;
    margin: calc(var(--am-space) * 1) 0;
    background-color: var(--am-color-border);
}
