.am-avatar {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--am-color-primary-emphasis);
    object-fit: cover;
    background-color: var(--am-color-primary-subtle-hover);
    border-radius: var(--am-radius-full);
}

.am-avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.625rem;
}

.am-avatar-md {
    width: 2rem;
    height: 2rem;
    font-size: 0.75rem;
}

.am-avatar-lg {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.875rem;
}
